* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

p a {
  display: inline;
}

img,
video,
iframe,
picture,
figure {
  max-width: 100%;
  display: block;
}

form,
input,
select,
textarea,
button,
label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* Variables */

:root {
  --color-principal: #ffffff;
  --color-secondary: #05c1ca;

  --color-background: #f2f7f9;
  --color-transparent: transparent;

  --color-icon: #b5b6b7;
  --color-title: #222222;
  --color-subtitle: #888;
  --color-text: #555;

  --color-background-certificates: #f5f5f5;
  --color-background-contact: #fcfcfc;
}

/* estilos generales */

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Hind", Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

/* imagen de fondo */
body {
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20px -120px;
}

/* estructura principal */

.layout {
  position: relative;
  min-width: 1290px;
  width: 75%;
  height: 80vh;
  min-height: 80vh;
  margin: 10vh auto;
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 30% 70%;
  border-radius: 4rem;
  box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

/* barra lateral */

.layout__aside {
  grid-area: aside;
  border-radius: 4rem 0 0 4rem;
  overflow: auto;
  overflow-x: hidden;
}

.aside__userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100%;
  min-width: 30rem;
  background-color: var(--color-secondary);
  color: var(--color-principal);
}

.userInfo__containerImagen {
  position: relative;
  display: inline-block;
  width: 18rem;
  margin-top: 5rem;
  z-index: 1;
}

.userInfo__imagen {
  width: 100%;
  background-color: var(--color-principal);
  border: 3px solid var(--color-principal);
  border-radius: 20rem;
}

.userInfo__containerImagen::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 9%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 0.6rem 0.6rem;
  border-radius: 30rem;
  z-index: -1;
  opacity: 0.4;
}

.userInfo__name {
  color: var(--color-principal);
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 2.6rem;
}

.userInfo__job {
  font-size: 1.7rem;
  font-weight: 200;
  color: var(--color-principal);
}

.userInfo__links {
  margin-bottom: 1.5rem;
}

.links__social {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.social__option {
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  opacity: 0.9;
  border-radius: 3rem;
  transition: all 300ms ease-in-out;
}

.social__option:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.userInfo__buttons {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.userInfo__btn {
  border: 2px solid var(--color-principal);
  padding: 1.3rem 3rem;
  border-radius: 3.2rem;
  color: var(--color-principal);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease-in-out;
}

.userInfo__btn:hover {
  background-color: var(--color-principal);
  color: var(--color-secondary);
}

.userInfo__footer {
  position: absolute;
  bottom: 2rem;
  font-size: 1.2rem;
}

/* contendor principal */
.layout__content {
  grid-area: content;
  background-color: var(--color-secondary);
  border-radius: 0 10rem 10rem 0;
  height: 100%;
  min-height: 100%;
}

.content__page {
  min-height: 100%;
  background-color: var(--color-principal);
  min-height: 100%;
  border-radius: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__name {
  font-size: 6rem;
  padding-bottom: 1rem;
}

.page__job {
  font-size: 2.1rem;
  font-weight: lighter;
  color: var(--color-subtitle);
}

/* menu navegacion lateral */
.layout__menu {
  display: block;
  position: absolute;
  top: 0;
  right: -105px;
  min-width: 11rem;
  background-color: var(--color-transparent);
}

.menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-height: 32rem;
  padding: 2rem 0;
  margin-left: 2.5rem;
  background-color: var(--color-principal);
  box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 6rem;
}

.menu__icon {
  color: var(--color-icon);
  font-size: 2.8rem;
  transition: all 300ms ease-in-out;
}

.menu__option {
  display: block;
  width: 100%;
  text-align: center;
}

.menu__option:hover .menu__icon,
.menu__linkActive .menu__icon {
  color: var(--color-secondary);
}

.menu__overlay {
  position: absolute;
  right: 0;
  margin-top: -3rem;
  opacity: 0;
  padding: 0.5rem 1rem;
  display: block;
  color: var(--color-principal);
  background-color: var(--color-secondary);
  white-space: nowrap;
  border-radius: 6rem;
  transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__overlay {
  opacity: 1;
  right: 100%;
}

/* sobre mi  y otras paginas - contenidos generales*/

.content__about,
.content__resume,
.content__portfolio,
.content__contact {
  height: 100%;
  min-height: 100%;
  padding: 6rem;
  padding-right: 3rem;
  overflow: auto;
  box-sizing: border-box;
  display: block;
}

.about__header,
.resume__header,
.portfolio__header,
.contact__header {
  display: inline-block;
  margin-bottom: 4.5rem;
}

.about__title,
.resume__title,
.portfolio__title,
.contact__title {
  font-size: 3.2rem;
  position: relative;
}

.about__title::after,
.resume__title::after,
.portfolio__title::after,
.contact__title::after {
  content: "";
  position: absolute;
  top: 20px;
  right: -25px;
  height: 30px;
  width: 50px;
  background-image: -webkit-radial-gradient(
    center center,
    var(--color-secondary),
    var(--color-secondary) 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 6px 6px;
  opacity: 0.5;
}

.title__color,
.subtitle__color {
  color: var(--color-secondary);
}

.about__personalInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5rem;
}

.personalInfo__bio {
  flex-basis: 55%;
}

.personalInfo__description {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.personalInfo__data {
  flex-basis: 45%;
  padding: 0 1.5rem;
}

.personalInfo__option {
  margin-bottom: 1rem;
}

.personalInfo__title {
  margin-right: 0.5rem;
  color: var(--color-secondary);
  font-weight: 600;
}

/* servicios */

.about__services {
  width: 100%;
  margin-bottom: 3rem;
}

.services__header {
  display: inline-block;
  padding-right: 1.2rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.services__title {
  font-size: 2.5rem;
}

.services__title::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  height: 20px;
  width: 30px;
  background-image: -webkit-radial-gradient(
    center center,
    var(--color-secondary),
    var(--color-secondary) 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 6px 6px;
  opacity: 0.5;
}

.services__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__service {
  flex-basis: calc(50% - 3rem);
  margin-right: 3rem;
  margin-bottom: 2.5rem;
}

.service__realIcon {
  color: var(--color-secondary);
  font-size: 3.2rem;
}

.service__title {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.service__description {
  font-size: 1.5rem;
}

/* curriculum */

.resume__subheader,
.contact__formHeader {
  display: inline-block;
  padding-right: 1.2rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.resume__subtitle,
.formHeader__title {
  font-size: 2.1rem;
}

.resume__subtitle::after,
.formHeader__title::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  height: 20px;
  width: 30px;
  background-image: -webkit-radial-gradient(
    center center,
    var(--color-secondary),
    var(--color-secondary) 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 6px 6px;
  opacity: 0.5;
}

/* curriculum */

.resume__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.resume__left {
  flex-basis: 58%;
  margin-right: 1.5rem;
}

.resume__timelines {
  margin-bottom: 5rem;
}

.timelines__timeline {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}

.timeline__header {
  flex-basis: 30%;
  text-align: right;
  padding-right: 2.5rem;
}

.timeline__year {
  margin: 0.3rem 0;
  line-height: 1.9rem;
  font-size: 1.4rem;
}

.timeline__company {
  display: block;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--color-subtitle);
}

.timeline__description {
  width: 70%;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
}

.timeline__title {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}

.timeline__text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.timeline__divider {
  position: absolute;
  top: 0;
  left: 30%;
  bottom: -18px;
  width: 1px;
  background-color: var(--color-background-scroll);
}

.timeline__divider::before {
  content: "";
  position: absolute;
  margin-top: 0.2rem;
  margin-left: -0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--color-secondary);
  border-radius: 10rem;
  opacity: 0.25;
}

.timeline__divider::after {
  content: "";
  position: absolute;
  margin-top: 0.6rem;
  margin-left: -0.4rem;
  width: 0.9rem;
  height: 0.9rem;
  background-color: var(--color-principal);
  border-radius: 10rem;
  border: 2px solid var(--color-secondary);
  opacity: 1;
}

.resume__right {
  flex-basis: 41%;
  padding: 0 1.5rem;
}

.resume__skills {
  width: 100%;
  margin-bottom: 3rem;
}

.skills__title {
  display: flex;
  justify-content: space-between;
}

.skills__text {
  font-size: 1.3rem;
  line-height: 1.4rem;
  margin-bottom: 0.4rem;
}

.skills__number {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 0.4rem;
  color: var(--color-subtitle);
}

.skills__progressbar {
  height: 1.2rem;
  border: 1px solid var(--color-secondary);
  border-radius: 1rem;
  background-color: var(--color-principal);
  margin-bottom: 1.5rem;
}

.skills__percentage {
  height: 0.8rem;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-principal);
  border-radius: 1rem;
}

.skills__percentage--85 {
  width: 85%;
}

.skills__percentage--87 {
  width: 87%;
}

.skills__percentage--75 {
  width: 75%;
}

.skills__percentage--90 {
  width: 90%;
}

.skills__percentage--95 {
  width: 95%;
}

.skills__percentage--60 {
  width: 60%;
}

.knowledges__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.knowledges__option {
  padding: 0.4rem 1rem;
  margin: 0.3rem;
  font-size: 1.3rem;
  background-color: var(--color-secondary);
  border-radius: 0.3rem;
  color: var(--color-principal);
}

.certificates__container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.certificates__certificate {
  flex-basis: calc(50% - 1.5rem);
  border: 2px solid var(--color-icon);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
}

.certificate__logo {
  width: 15rem;
  padding: 2.5rem;
  background-color: var(--color-background-certificates);
  border-radius: 0.8rem 0 0 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificates__image {
  width: 100%;
}

.certificate__content {
  padding: 2rem 2.5rem;
}

.certificate__title {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.certificate__id {
  display: block;
  font-size: 1.3rem;
  color: var(--color-subtitle);
  margin-bottom: 0.3rem;
}

.certificate__date {
  font-size: 1rem;
  color: var(--color-subtitle);
  opacity: 0.7;
}

/* portfolio */

.portfolio__navbar {
  margin-bottom: 3rem;
}

.portfolio__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.portfolio__option {
  font-size: 1.5rem;
  opacity: 0.7;
}

.portfolio__option--active {
  opacity: 1;
}

.portfolio__link {
  cursor: pointer;
}

.portfolio__link:hover {
  color: var(--color-secondary);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

.portfolio__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery__item {
  position: relative;
  flex-basis: 30%;
  padding: 0.7rem;
}

.gallery__item.hidden {
  display: none;
}

.gallery__containerImagen {
  overflow: hidden;
}

.gallery__imagen {
  transition: all 300ms ease-in-out;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  max-height: 158px;
}

.gallery__item:hover .gallery__imagen {
  transform: scale(1.1);
}

.gallery__title {
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
  font-weight: bold;
}

.gallery__icon {
  opacity: 0;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 3rem;
  background-color: var(--color-principal);
  color: var(--color-secondary);
  transition: all 300ms ease-in-out;
}

.gallery__categorie {
  opacity: 0;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  padding: 0.2rem 0.7rem;
  font-size: 1.3rem;
  background-color: var(--color-principal);
  color: var(--color-text);
  transition: all 450ms ease-in-out;
}

.gallery__item:hover .gallery__categorie,
.gallery__item:hover .gallery__icon {
  opacity: 1;
}

/* contacto */

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.contact__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.contact__data {
  width: 100%;
  max-width: 250px;
  padding: 1.5rem 0.5rem;
  text-align: center;
  background-color: var(--color-background-contact);
  border: 1px solid var(--color-icon);
  border-radius: 3.3rem 0 3.3rem 0;
  margin: 0 auto;
}

.contact__icon {
  font-size: 3.3rem;
  color: var(--color-secondary);
}

.contact__subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
}
